/*-- scss:defaults --*/

/*-- scss:rules --*/

.sidebar-item {
    margin-top: 8px;
}

.page-columns {
    font-size: 16px;
}

h3 {
    font-size: 1.3rem; // default 1.45rem
    margin-top: 1rem;
    margin-bottom: 1rem;
}